/* popup.css */

/* Custom scrollbar for textareas */
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Ensure body and container fit content and are responsive */
body {
    min-width: 380px; /* Adjust as needed */
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

.container {
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}
